<footer class="text-center text-white mt-5" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container-fluid pt-4">
    <!-- Follow us-->
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-black text-center">Suivez l'actualité sur nos réseaux sociaux :)</h1>
      </div>
    </div>
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.facebook.com/isfates.dfhi/"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="bi bi-facebook" style="color: dodgerblue"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="twitter.com/hashtag/ISFATES"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="bi bi-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="google.com"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="bi bi-google" style="color: #ffdd00"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.instagram.com/dfhi_isfates/?hl=fr"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="bi bi-instagram" style="color: firebrick"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/school/isfates-dfhi/?originalSubdomain=fr"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="bi bi-linkedin" style="color: dodgerblue"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="bi bi-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="">Chrisrochelprod</a>
  </div>
  <!-- Copyright -->
</footer>
