<div class="container bg-white mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mt-5 text-center text-uppercase">Tout ce que que vous devez savoir sur l'ISFATES</h1>
    </div>
  </div>

  <div class="row mt-sm-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">UNE OFFRE D’ÉTUDES UNIQUE</h5>
          <p class="card-text">L’Institut supérieur franco-allemand de techniques, d’économie et de sciences (ISFATES) est une coopération de la Hochschule für Technik und Wirtschaft des Saarlandes (htw saar) et de l’Université de Lorraine (UL). Créée en 1978 sur la base d’un contrat d’Etat, elle représente aujourd’hui la plus grande coopération universitaire franco-allemande, avec plus de 450 étudiants et 3000 anciens étudiants. <br>Dans le domaine de la gestion, l’ISFATES propose une offre variée allant des disciplines classiques des sciences de gestion, à l’exemple du Marketing et de la Comptabilité, jusqu’à des offres d’études en Logistique et Tourisme – en mettant l’accent sur le caractère international, et en particulier franco-allemand des formations.</p>
          <a class="btn btn-primary rounded-pill" (click)="showExams()">Voir nos examens</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card" style="width: 100%;">
        <img src="../../../assets/images/40_ans.jpg" class="card-img-top rounded-circle" alt="40 ans isfates">
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center text-dark mb-3 text-uppercase"> Nos facultés</h1>
    </div>
  </div>
  <div class="row m-sm-2 mx-auto">
    <div class="d-grid gap-2 col-md-6 mb-2">
      <button class="btn btn-primary w-75 rounded-pill size-small" type="button">MANAGEMENT DE LA LOGISTIQUE INTERNATIONALE</button>
      <button class="btn btn-primary w-75 rounded-pill size-small" type="button">MANAGEMENT DU TOURISME INTERNATIONAL</button>
      <button class="btn btn-primary w-75 rounded-pill size-small" type="button">MANAGEMENT FRANCO-ALLEMAND</button>
    </div>
    <div class="d-grid gap-2 col-md-6">
      <button class="btn btn-primary w-75 rounded-pill size-small" type="button">GÉNIE CIVIL ET MANAGEMENT EN EUROPE</button>
      <button class="btn btn-primary w-75 rounded-pill size-small" type="button">INFORMATIQUE ET INGÉNIERIE DU WEB</button>
      <button class="btn btn-primary w-75 rounded-pill size-small" type="button">GÉNIE MECANIQUE</button>
    </div>
  </div>
  <!--partners-->
  <div class="row mt-5">
    <div class="col-md-12">
      <h1 class="text-black text-center text-uppercase mt-5">Nos nouveaux partenaires <span class="badge bg-warning">New</span></h1>
    </div>
  </div>


    <div class="row logo-list">
      <div class="col-lg-2 col-md-4 col-6">
        <a href="#"><img src="../../../assets/partners/1200px-Moselle_57_logo_2015.svg_.png" class="img-fluid" alt="Bluehost logo"></a>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <a href="#"><img src="../../../assets/partners/SanSwiss-Logo_neu.jpg" class="img-fluid" alt="Hostgator logo"></a>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <a href="#"><img src="../../../assets/partners/logo-ufa.jpg" class="img-fluid" alt="Green Geeks logo"></a>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <a href="#"><img src="../../../assets/partners/logoCD57.jpg" class="img-fluid" alt="WordPress logo"></a>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <a href="#"><img src="../../../assets/partners/SLB-Logotype_24mm_rgb.jpg" class="img-fluid" alt="DreamHost logo"></a>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <a href="#"><img src="../../../assets/partners/saarstahl_rgb.jpg" class="img-fluid" alt="Hostinger logo"></a>
      </div>
    </div>
</div>




